@*Pagina pe care o vede colaboratorul cand vrea sa vizualizeze toate request-urile pe care le-a adaugat(ca un history)*@
@*ele o sa aiba mai tz si status: accepted, denied, pending (la crearea lor automat iau valoarea pending)*@

@{
    ViewBag.Title = "Index";
}

<br />

<h2 class="text-center">Afisare cereri</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</div>
}
<br />


@*motor de cautare*@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control"
               placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success"
                type="submit">
            Search
        </button>
    </div>
</form>

@foreach (ProiectV1.Models.Request request in ViewBag.Requests)
{
    <div class="card">
        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@request.Title</h3>

            

            <div class="d-flex justify-content-between flex-row mt-5">

                <div><i class="bi bi-globe"></i> @request.Category.CategoryName</div>

                <a class="btn btn-success" href="/Requests/ShowColaborator/@request.Id">Afisare cerere</a>

                <span class="alert-success">@request.Date</span>

            </div>

        </div>
    </div>
}

<br />
<a class="btn btn-success" href="/Requests/New">Fa o noua cerere pentru un produs</a>
<br />

@* Afisarea paginata a cererilor *@
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Requests/IndexColaborator?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Requests/IndexColaborator?page=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Requests/IndexColaborator?page=@(ViewBag.lastPage)" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<br />
<br />

