@*Pagina pe care o vede administratorul cand vrea sa vizualizeze toate categoriile*@

@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<a href="/Home/Index">Inapoi la pagina principala</a>
<br />
<br />

@foreach (var category in ViewBag.Categories)
{
    @Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn alert-success" href="/Categories/Show/@category.Id">Afisare categorie</a>
    <a class="btn alert-success" href="/Categories/Edit/@category.Id">Editare categorie</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>
<br />

<br />

@* Afisarea paginata a categoriilor *@
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Categories/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Categories/Index?page=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Categories/Index?page=@(ViewBag.lastPage)" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<br />
<br />

